.car-container {
    max-width: 1200px;
    width: 80vw;
    display: grid;
    place-content: center;
    margin: 0 auto;

    .car-img {
        margin-top: 4em;
        width: 100%;
        height: 20em;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 2em;
    }

    .car-title {
        // margin-top: 4em;
        font-size: 2rem;
        font-weight: bold;
        // color: #F0717B;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    p {
        font-size: 1rem;
        display: block;
    }
}