<div class="hero-section">
   <div class="hero-description">
        <div>
            <h1 class="hero-title"><span>Wheels</span> MarketPlace</h1>
            <h3>Find a rental car or rent your car</h3>
        </div>
        <% if user_signed_in? %>
            <%= link_to  "list" new_car_path  class="hero-cta btn" %>
        <% else %>
            <%= link_to "sign up" new_registration_path class="hero-cta btn"%>
        <% end %>

   </div>
    <%# image_tag in rails %>
    <%= image_tag "hero.jpg", class: "hero-image" %>
</div>
