<div class="hero-section">
   <div class="hero-description">
        <div>
            <h1 class="hero-title"><span>Wheels</span> MarketPlace</h1>
            <h3>Find a rental car or rent your car</h3>
        </div>
        <% if user_signed_in? %>
            <button class="hero-cta btn">List a car</button>
        <% else %>
            <button class="hero-cta btn">Rent now</button>
        <% end %>

   </div>
    <%# image_tag in rails %>
    <%= image_tag "hero.jpg", class: "hero-image" %>
</div>