<div class="d-flex justify-content-center search-container">
<div class="search-section">
    <%# 3 column grid with css grid %>
    <div class="search-column">
        <label for="location">Location</label>
        <input type="text" id="location" placeholder="City, airport, station, region, district..." />
    </div>
    <div class="search-column">
        <label for="pick-up-date">Pick-up date</label>
        <input type="text" id="pick-up-date" placeholder="dd/mm/yyyy" />
    </div>
    <div class="search-column">
        <label for="drop-off-date">Drop-off date</label>
        <input type="text" id="drop-off-date" placeholder="dd/mm/yyyy" />
    </div>

    <div class="search-column">
        <label for="car-make">Car make</label>
        <select id="car-make">
            <option value="any">Any</option>
            <option value="honda">Honda</option>
            <option value="chevrolet">Chevrolet</option>
            <option value="toyota">Toyota</option>
            <option value="bmw">BMW</option>
        </select>
    </div>
    <div class="shearch-column">
        <label for="transmission">Transmission</label>
        <select id="transmission">
            <option value="any">Any</option>
            <option value="manual">Manual</option>
            <option value="automatic">Automatic</option>
        </select>
</div>
<div class="shearch-column">
        <button class="btn btn-primary mt-2 mx-2 text-white">Search</button>

</div>
</div>
</div>