// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.dropdown-menu {
    margin: -8em;
}

footer {
  margin-top: auto;
}

.wrapper {
min-height: calc(100vh - 65.51px - 331.87px);
}
